html
{
    background-color: black;
}

div
{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

img
{
    width: 100%;
    border: 5px solid #FFD801;
}

h1
{
    margin: 0;
    margin-top: 25px;
    font-family: "Libre Baskerville", serif;
    color: #FFD801;
    text-align: center;
    text-transform: uppercase;
}

p
{
    margin: 0;
    margin-top:  25px;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}